<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Certificat</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Supprimer un Certificat</h1>
  </header>
  <form>
    <label for="nom">Nom : *</label>
    <input type="text" id="nom" name="nom" required>

    <label for="prenom">Prénom : *</label>
    <input type="text" id="prenom" name="prenom" required>
	
	<label for="code">Code confirmation du mail : *</label>
    <input type="text" id="code" name="code" required>

    <label for="pays">Pays :</label>
    <input type="text" id="pays" name="pays" required>

    <label for="region">Région :</label>
    <input type="text" id="region" name="region" required>
	
	<label for="ville">Ville :</label>
    <input type="text" id="ville" name="ville" required>

    <label for="duree-validite">Durée de validité : *</label>
    <select id="duree-validite" name="duree-validite">
      <option value="1-an">1 an</option>
      <option value="2-ans">2 ans</option>
      <option value="3-ans">3 ans</option>
    </select>
	
	<label for="organisation">Organisation :</label>
    <input type="text" id="organisation" name="organisation" required>

    <label for="infos-supplementaires">Informations supplémentaires :</label>
    <textarea id="infos-supplementaires" name="infos-supplementaires"></textarea>
	<input id="test" type="button" onclick="Verification()"value="Soumettre">
  </form>

  <footer>
    <p>&copy; 2023 Projet Cryptographie Lilian Drets Loïc Allegretti</p>
  </footer>
  <script src="script.js"></script>
</body>
</html>
